@import '../vars';

.hero {
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    margin: 130px 0;
    max-width: 440px;
  }
  &__title {
    font-size: 60px;
    color: $font--color-04;
  }
  &__text {
    margin: 30px 0 53px 0;
    line-height: 1.5;
  }
  &__link {
    font-size: 20px;
    color: $action-color-middle;
    padding: 23px 90px;
    border: 1px solid $action-color-middle;
    &:hover {
      color: #fff;
      background-color: $action-color-middle;
    }
    &:focus {
      color: $action-color-middle;
      border: 1px solid $action-color-middle;
      background-color: $action-color-light;
    }
    &:active {
      color: #fff;
      background-color: $action-color-dark;
    }
  }
  &__img {
    margin-top: 60px;
    max-width: 540px;
    max-height: 560px;
    width: 100%;
    background-image: url('./../../../img/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (max-width: 768px) {
    &__content {
      max-width: 390px;
      margin: 65px 0;
    }
    &__img {
      max-width: 270px;
    }
    &__title {
      font-size: 50px;
    }
  }
  @media (max-width: 576px) {
    &__content {
      max-width: 289px;
      margin: 60px 0;
    }
    &__title {
      font-size: 38px;
    }
    &__text {
      margin: 20px 0 39px 0;
    }
    &__link {
      padding: 19px 60px;
    }
    &__img {
      margin-top: 20px;
      max-width: 195px;
    }
  }
  @media (max-width: 460px) {
    &__img {
      display: none;
    }
  }
  @media (max-width: 320px) {
    &__content{
      margin: 50px 0;
    }
    &__title {
      width: 221px;
      font-size: 30px;
    }
    &__text {
      margin: 15px 0 35px 0;
      font-size: 14px;
    }
    &__link {
      font-size: 18px;
      padding: 15px 38px;
    }
  }
}