@import '../vars', '../mixins';

.products {
  padding: 90px 0;
  &__list {
    display: flex;
    gap: 30px;
  }
  &__item {
    @include flex-column;
    gap: 20px;
    &:nth-child(3) {
      .products__item-card {
        padding-left: 15px;
        justify-content: start;
      }
    }
    &-content {
      @include flex-column;
      gap: 8px;
      max-width: 255px;
    }
    &-card {
      display: flex;
      align-items: end;
      justify-content: center;
      width: 255px;
      height: 180px;
      overflow: hidden;
      background-color: $bg-grey;
    }
    &-title {
      font-size: 30px;
    }
    &-subtitle {
      font-size: 14px;
      color: $font--color-01;
    }
    &-link {
      padding-bottom: 10px;
      width: 143px;
      @include flex-center;
      gap: 5px;
      font-size: 20px;
      line-height: 1;
      color: $action-color-middle;
      svg {
        fill: $action-color-middle;
      }
      &:hover {
        color: $action-color-dark;
        svg {
          fill: $action-color-dark;
        }
      }
      &:focus {
        color: $action-color-middle;
        background-color: $action-color-light;
        svg {
          fill: $action-color-middle;
        }
      }
      &:active {
        color: $action-color-dark;
        background-color: transparent;
        svg {
          fill: $action-color-dark;
          width: 28px;
        }
      }
    }
  }
  @media (max-width: 1160px) {
    &__list {
      overflow-y: hidden;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        width: 100%;
        height: 6px;
        border-radius: 20px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: $line-small-color;
      }
    }
  }
  @media (max-width: 768px) {
    padding: 60px 0;
    &__list {
      overflow: hidden;
      flex-wrap: wrap;
      gap: 60px;
    }
    &__item {
      &:nth-child(3) {
        .products__item-card {
          padding-left: 0;
          justify-content: center;
        }
      }
      &-card {
        width: 300px;
      }
      &-content {
        max-width: 300px;
      }
    }
  }
  @media (max-width: 707px) {
    &__list {
      justify-content: center;
      gap: 60px 30px;
    }
  }
  @media (max-width: 680px) {
    &__list {
      gap: 40px 30px;
    }
    &__item {
      &-card {
        max-width: 225px;
      }
      &:nth-child(3) {
        .products__item-card {
          padding-left: 15px;
          justify-content: start;
        }
      }
      &:nth-child(2) {
        img {
          width: 210px;
        }
      }
      &-content {
        gap: 4px;
        max-width: 225px;
      }
      &-title {
        font-size: 24px;
      }
      &-subtitle {
        padding-bottom: 4px;
      }
    }
  }
  @media (max-width: 530px) {
    &__list {
      justify-content: center;
    }
    &__item {
      &-card {
        max-width: 290px;
      }
      &:nth-child(3) {
        .products__item-card {
          padding-left: 0;
          justify-content: center;
        }
      }
      &-content {
        max-width: 290px;
      }
      &-text {
        padding-bottom: 10px;
      }
    }
  }
}