// font
$font--color-04: #4C5866;
$font--color-03: #666666;
$font--color-02: #85859B;
$font--color-01: #B5B5BD;

// button, link and nav
$action-color-base: #4C5866;
$action-color-middle: #7875FE;
$action-color-light: #DAD9FB;
$action-color-dark: #4946B4;

//main
$line-big-color: #DDDDDD;
$line-small-color: #C0C0C0;
$bg-grey: #EBEBEB;